<div class="statement">
    <div class="blue-top">
        <h2 class="statement-title" ng-click="onHeadClick($event)">账户名称-恒大-A <span class="down"></span></h2>
        <ul class="hide-list">
            <li>
                <span class="txt-hide city">成都成都成都</span>
                <b class="txt-hide">恒大御大御大御龙天峰</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
            <li>
                <span class="tex-hide city">重庆</span>
                <b class="txt-hide">恒大广场</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
            <li>
                <span class="tex-hide city">上海</span>
                <b class="txt-hide">嘉定恒大名都</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
        </ul>
        <!-- hide-list end -->
        <div class="statement-msg msg-a">
            <ul class="clearfix">
                <li>
                    <b>123,200</b> 总曝光
                </li>
                <li>
                    <b>9,268</b> 总点击
                    <span>
									点击率 
									<i>80%</i>
								</span>
                </li>
                <li>
                    <b>1,929</b> 总来电
                    <span>
									来电率
									<i>32%</i>
								</span>
                </li>
            </ul>
        </div>
        <!-- statement-msg end -->
    </div>
    <!-- blue-top end -->
    <!-- 图表 -->
    <div class="chart">
        <div class="chart-nav">
            <a class="on" href="#">全部渠道</a>
            <a href="#">今日头条</a>
            <a href="#">百度推广</a>
            <a href="#">爱奇艺</a>
            <a href="#">优酷土豆</a>
        </div>
        <!-- chart-nav end -->
        <div class="chart-head">
            <div class="chart-left-select" ng-click="onChartSelectClick($event)">
                <span class="down">最近1天</span>
                <ul>
                    <li><a href="#">最近4天</a></li>
                    <li><a href="#">最近1天</a></li>
                    <li><a href="#">最近2天</a></li>
                    <li><a href="#">最近3天</a></li>
                </ul>
            </div>
            <div class="chart-right-select">
                <a class="on" href="#">全部</a>
                <a href="#">PC</a>
                <a href="#">WAP</a>
            </div>
        </div>
        <!-- chart-head end -->
        <div id="container"></div>
        <div class="statement-msg msg-b">
            <ul class="clearfix">
                <li>
                    <b>123,200</b> 昨日展现
                </li>
                <li>
                    <b>9,268</b> 昨日点击
                    <span>
									点击率 
									<i>80%</i>
								</span>
                </li>
                <li>
                    <b>1,929</b> 昨日电话
                    <span>
									来电率
									<i>32%</i>
								</span>
                </li>
            </ul>
        </div>
        <!-- statement-msg end -->
        <div class="statement-tel-list">
            <ul>
                <li>
                    <span class="txt-hide tel">13501234567</span>
                    <span class="txt-hide city">北京北京北京</span>
                    <time class="txt-hide">2017.01.20 23:2.20 23:2.20 23:20</time>
                    <a href="#"></a>
                </li>
                <li>
                    <span class="txt-hide tel">13501234567</span>
                    <span class="txt-hide city">北京北京北京</span>
                    <time class="txt-hide">2017.01.20 23:2.20 23:2.20 23:20</time>
                    <a href="#"></a>
                </li>
                <li>
                    <span class="txt-hide tel">13501234567</span>
                    <span class="txt-hide city">北京北京北京</span>
                    <time class="txt-hide">2017.01.20 23:2.20 23:2.20 23:20</time>
                    <a href="#"></a>
                </li>
                <li>
                    <span class="txt-hide tel">13501234567</span>
                    <span class="txt-hide city">北京北京北京</span>
                    <time class="txt-hide">2017.01.20 23:2.20 23:2.20 23:20</time>
                    <a href="#"></a>
                </li>
                <li class="more">
                    <a href="tel.html">查看全部来电 <i> &gt;</i></a>
                </li>
            </ul>
        </div>
        <!-- statement-tel-list end -->
    </div>
    <!-- chart end -->
</div>
<!-- statement end -->
