<div class="statement">
    <div class="blue-top">
        <h2 class="statement-title" ng-click="onHeadClick($event)">{{info.plan_name}}<span class="down"></span></h2>
        <ul class="hide-list">
            <li ng-click="onChangePlan(item)" ng-repeat="item in datacontext.list">
                <b class="txt-hide">{{item.plan_name}}</b>
                <time>{{item.stat_date}}-{{item.end_date}}</time>
            </li>
        </ul>
        <!-- hide-list end -->
        <div class="statement-msg msg-a">
            <ul class="clearfix">
                <li>
                    <b>{{statistical.total_pv}}</b> 总曝光
                </li>
                <li>
                    <b>{{statistical.total_click}}</b> 总点击
                    <span>点击率<i>{{statistical.click_ratio.toFixed(2)}}%</i></span>
                </li>
                <li>
                    <b>{{statistical.total_call}}</b> 总来电
                    <span>来电率<i>{{statistical.call_ratio.toFixed(2)}}%</i></span>
                </li>
            </ul>
        </div>
        <!-- statement-msg end -->
    </div>
    <!-- blue-top end -->
    <!-- 图表 -->
    <div class="chart">
        <div class="chart-nav">
            <a class="on">全部渠道</a>
            <!-- <a href="#">今日头条</a>
            <a href="#">百度推广</a>
            <a href="#">爱奇艺</a>
            <a href="#">优酷土豆</a> -->
        </div>
        <!-- chart-nav end -->
        <div class="chart-head">
            <div class="chart-left-select" ng-click="onChartSelectClick($event)">
                <span class="down">{{chartScopes[scopeType].name}}</span>
                <ul>
                    <li ng-repeat="scope in chartScopes" ng-click="onChangeScope($index)"><a>{{scope.name}}</a></li>
                </ul>
            </div>
            <div class="chart-right-select">
                <a ng-click="onChangeSource('')" ng-class="{'on':chartSource === ''}">全部</a>
                <a ng-click="onChangeSource(0)" ng-class="{'on':chartSource === 0}">PC</a>
                <a ng-click="onChangeSource(1)" ng-class="{'on':chartSource === 1}">WAP</a>
            </div>
        </div>
        <!-- chart-head end -->
        <div id="container"></div>
        <div class="statement-msg msg-b">
            <ul class="clearfix">
                <li>
                    <b>{{statistical.total_pv}}</b> 昨日展现
                </li>
                <li>
                    <b>{{statistical.total_click}}</b> 昨日点击
                    <span>点击率<i>{{statistical.click_ratio.toFixed(2)}}%</i>
					</span>
                </li>
                <li>
                    <b>{{statistical.total_call}}</b> 昨日电话
                    <span>来电率<i>{{statistical.call_ratio.toFixed(2)}}%</i>
					</span>
                </li>
            </ul>
        </div>
        <!-- statement-msg end -->
        <div class="statement-tel-list">
            <ul>
                <li ng-repeat="tel in tellist">
                    <span class="txt-hide tel">{{tel.phone}}</span>
                    <span class="txt-hide city">{{tel.city}}</span>
                    <time class="txt-hide">{{tel.call_time}}</time>
                    <a href="tel:{{tel.phone}}"></a>
                </li>
                <li class="more">
                    <a ng-click="onViewCall()">查看全部来电 <i> &gt;</i></a>
                </li>
            </ul>
        </div>
        <!-- statement-tel-list end -->
    </div>
    <!-- chart end -->
</div>
<!-- statement end -->
