<div class="login-page">
    <div class="login-logo">
        <img src="../lib/images/logo.png" alt="" />
    </div>
    <div class="login-form">
        <form>
            <input type="text" name="" placeholder="输入您的账户名称" required ng-model="name" />
            <input type="password" name="" placeholder="输入您的密码" required ng-model="password" />
            <input class="login-btn" type="submit" name="" value="登  录" ng-click="onLoginClick()" />
            <a ui-sref="password">忘记您的密码？</a>
        </form>
    </div>
    <div class="cpr-footer">
        <p>
            <br/>@2016 数舞科技 版权所有
        </p>
    </div>
</div>
<!-- page end -->
