<div class="page public-page-a">
    <header>
        <div class="public-head">
            <h2>
            	<a class="back-icon" href="javascript:history.back();"> &lt; </a>
            	消息中心
				<a class="redact" ng-click="onEditClick($event)">编辑</a>
			</h2>
        </div>
        <!-- public-head end -->
    </header>
    <section>
        <div class="content msg">
            <ul>
                <li ng-repeat="item in datacontext.list">
                    <div class="label" ng-class="{true:'select',false:''}[item.isChecked]" ng-click="onCheck(item)"></div>
                    <div class="msg-text">
                        <div class="msg-title">
                            {{item.title}}
                            <i ng-if="item.status === 0"></i>
                            <time>{{item.time}}</time>
                        </div>
                        <a>{{item.content}}</a>
                    </div>
                </li>
            </ul>
            <div class="bottom-select">
                <a class="all-select">已读/全部已读 </a>
                <a class="remove">删除</a>
            </div>
            <!-- bottom-select end -->
        </div>
        <!-- msg end -->
    </section>
    <footer>
        <div class="foot">
            <ul class="clearfix">
                <li>
                    <a ui-sref="board.home">
                        <img class="white-icon" src="lib/images/bottom-icon-1.png">
                        <!-- 白色图标 -->
                        <img class="blue-icon" src="lib/images/bottom-hover-icon-1.png">
                        <!-- 蓝色图标 -->
                        首页
                    </a>
                </li>
                <li>
                    <a ui-sref="board.statement">
                        <img class="white-icon" src="lib/images/bottom-icon-2.png">
                        <!-- 白色图标 -->
                        <img class="blue-icon" src="lib/images/bottom-hover-icon-2.png">
                        <!-- 蓝色图标 -->
                        报表
                    </a>
                </li>
                <li>
                    <a ui-sref="board.tel">
                        <img class="white-icon" src="lib/images/bottom-icon-3.png">
                        <!-- 白色图标 -->
                        <img class="blue-icon" src="lib/images/bottom-hover-icon-3.png">
                        <!-- 蓝色图标 -->
                        电话
                    </a>
                </li>
                <li class="on">
                    <a>
                        <img class="white-icon" src="lib/images/bottom-icon-4.png">
                        <!-- 白色图标 -->
                        <img class="blue-icon" src="lib/images/bottom-hover-icon-4.png">
                        <!-- 蓝色图标 -->
                        账户
                    </a>
                </li>
            </ul>
        </div>
        <!-- foot end -->
    </footer>
</div>
