<div>
    <div class="blue-top">
        <h2>账户名称-恒大-A</h2>
    </div>
    <!-- blue-top end -->
    <div class="tel-list">
        <div class="tel-list-head">
            <a class="on" href="#">全部渠道</a>
        </div>
        <div class="tel-list-count">
            <span>客户列表 ({{datacontext.list.length}})</span>
            <a href="#">来电先后排序</a>
        </div>
        <!-- tel-list-count end -->
        <ul>
            <li ng-repeat="item in datacontext.list">
                <p>
                    <i class="down" ng-click="onExpandClick($event)"></i>
                    <span class="txt-hide tel">{{item.phone}}</span>
                    <span class="txt-hide city">{{item.city}}</span>
                    <time class="txt-hide">{{item.status === 1 ? '已接通' : '未接通'}}</time>
                    <a href="tel:{{item.phone}}"></a>
                </p>
                <div class="tel-details clearfix">
                    <p>{{item.call_time | datefilter}}  百度推广移动端  主动来电</p>
                    <p>{{item.call_time | datefilter}} 已接通 通话{{item.talk_time | timefilter}}</p>
                    <span>
                        <b>购房意向:</b>
                        <i>{{item.intention}}</i>
                    </span>
                    <a href="#">新增/修改 购房意向</a>
                </div>
                <!-- tel-details end -->
            </li>
        </ul>
        <div class="tel-pop-box">
            <form class="content" action="" method="">
                <span class="close">X</span>
                <p>2017.10.02 23:10 百度推广移动端 主动来电</p>
                <input type="text" name="" value="百度推广移动端" />
                <input class="submit" type="submit" name="" value="保 存" />
            </form>
        </div>
        <!-- tel-pop-box end -->
    </div>
    <!-- tel-list end -->
</div>
<!-- tel-page end -->
