<div class="page public-page-a">
    <header>
        <div class="public-head">
            <h2>
                <a class="back-icon" href="javascript:history.back();"> &lt; </a>
					找回密码
            </h2>
        </div>
        <!-- public-head end -->
    </header>
    <section>
        <form>
            <input class="ipt" type="text" name="" placeholder="输入手机号码" required ng-model="phone"/>
            <input class="btn" type="submit" name="" value="下一步" ng-click="onSubmitPhone()"/>
        </form>
    </section>
    <footer>
        <p>
            <br/>@2016 数舞科技 版权所有
        </p>
    </footer>
</div>
<!-- public-page-a end -->
