<div class="index-main">
    <div class="blue-top">
        <h2>账户名称-恒大-A</h2>
        <ul>
            <li>
                <span class="txt-hide city">成都成都成都</span>
                <b class="txt-hide">恒大御大御大御龙天峰</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
            <li>
                <span class="tex-hide city">重庆</span>
                <b class="txt-hide">恒大广场</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
            <li>
                <span class="tex-hide city">上海</span>
                <b class="txt-hide">嘉定恒大名都</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
        </ul>
        <ul class="hide-list">
            <li>
                <span class="txt-hide city">成都成都成都</span>
                <b class="txt-hide">恒大御大御大御龙天峰</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
            <li>
                <span class="tex-hide city">重庆</span>
                <b class="txt-hide">恒大广场</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
            <li>
                <span class="tex-hide city">上海</span>
                <b class="txt-hide">嘉定恒大名都</b>
                <time>2017.01.27-2017.02.28</time>
            </li>
        </ul>
        <!-- hide-list end -->
        <div class="show-btn down" ng-click="onShowBtnClick($event)">
            <span></span>
        </div>
        <!-- show-btn end -->
        <div class="content yesterday">
            <span>
            	<b>3,200</b><i>昨日展现</i>
			</span>
            <span>
            	<b>268</b><i>昨日点击</i>
			</span>
            <span>
            	<b>29</b><i>昨日电话</i>
			</span>
        </div>
        <!-- yesterday end -->
    </div>
    <!-- blue-top end -->
    <!-- 图表 -->
    <div class="content chart">
        <div class="chart-head">
            <div class="chart-left-select" ng-click="onChartSelectClick($event)">
                <span class="down">最近1天</span>
                <ul>
                    <li><a href="#">最近4天</a></li>
                    <li><a href="#">最近1天</a></li>
                    <li><a href="#">最近2天</a></li>
                    <li><a href="#">最近3天</a></li>
                </ul>
            </div>
            <div class="chart-right-select">
                <a class="on" href="#">全部</a>
                <a href="#">PC</a>
                <a href="#">WAP</a>
            </div>
        </div>
        <!-- chart-head end -->
        <div id="container"></div>
    </div>
    <!-- chart end -->
    <!-- 详细报表 -->
    <div class="content statement">
        <h6>详细报表</h6>
        <dl>
            <dt>
                <a href="#">恒大广场 <i> &gt;</i></a>
            </dt>
            <dd>
                <span>总曝光：2,341次</span>
                <span>总点击：11,124次</span>
                <span>总点击：11,124次</span>
            </dd>
            <dt>
                <a href="#">恒大广场 <i> &gt;</i></a>
            </dt>
            <dd>
                <span>总曝光：2,341次</span>
                <span>总点击：11,124次</span>
                <span>总点击：11,124次</span>
            </dd>
            <dt>
                <a href="#">恒大广场 <i> &gt;</i></a>
            </dt>
            <dd>
                <span>总曝光：2,341次</span>
                <span>总点击：11,124次</span>
                <span>总点击：11,124次</span>
            </dd>
        </dl>
    </div>
    <!-- statement end -->
</div>
<!-- index-main end -->
