<div class="index-main">
    <div class="blue-top">
        <h2>账户名称-{{username}}</h2>
        <ul>
            <li ng-repeat="item in datacontext.list" ng-if="$index < 3">
                <span class="txt-hide city">{{item.city}}</span>
                <b class="txt-hide">{{item.plan_name}}</b>
                <time>{{item.stat_date}}-{{item.end_date}}</time>
            </li>
        </ul>
        <ul class="hide-list" ng-if="datacontext.list.length > 3">
            <li ng-repeat="item in datacontext.list" ng-if="$index >= 3">
                <span class="txt-hide city">{{item.city}}</span>
                <b class="txt-hide">{{item.plan_name}}</b>
                <time>{{item.stat_date}}-{{item.end_date}}</time>
            </li>
        </ul>
        <!-- hide-list end -->
        <div class="show-btn down" ng-click="onShowBtnClick($event)" ng-if="datacontext.list.length > 3">
            <span></span>
        </div>
        <!-- show-btn end -->
        <div class="content yesterday">
            <span>
            	<b>{{statistical.total_pv}}</b><i>昨日展现</i>
			</span>
            <span>
            	<b>{{statistical.total_click}}</b><i>昨日点击</i>
			</span>
            <span>
            	<b>{{statistical.total_call}}</b><i>昨日电话</i>
			</span>
        </div>
        <!-- yesterday end -->
    </div>
    <!-- blue-top end -->
    <!-- 图表 -->
    <div class="content chart">
        <div class="chart-head">
            <div class="chart-left-select" ng-click="onChartSelectClick($event)">
                <span class="down">{{chartScopes[scopeType].name}}</span>
                <ul>
                    <li ng-repeat="scope in chartScopes" ng-click="onChangeScope($index)"><a>{{scope.name}}</a></li>
                </ul>
            </div>
            <div class="chart-right-select">
                <a ng-click="onChangeSource('')" ng-class="{'on':chartSource === ''}">全部</a>
                <a ng-click="onChangeSource(0)" ng-class="{'on':chartSource === 0}">PC</a>
                <a ng-click="onChangeSource(1)" ng-class="{'on':chartSource === 1}">WAP</a>
            </div>
        </div>
        <!-- chart-head end -->
        <div id="container"></div>
    </div>
    <!-- chart end -->
    <!-- 详细报表 -->
    <div class="content statement">
        <h6>详细报表</h6>
        <dl>
            <dt ng-repeat-start="detail in detailinfo">
                <a ng-click="onDetailClick(detail)">{{detail.plan_name}} <i> &gt;</i></a>
            </dt>
            <dd ng-repeat-end>
                <span>总曝光：{{detail.total_pv}}次</span>
                <span>总点击：{{detail.total_click}}次</span>
                <span>总来电：{{detail.total_call}}次</span>
            </dd>
        </dl>
    </div>
    <!-- statement end -->
</div>
<!-- index-main end -->
